target/
.DS_Store

# jdtls/eclipse stuff
.classpath
.factorypath
.project
.settings/

# vscode settings
settings.json

# Project relate files
*.so
classport-files/
*.csv

# test
pdfbox-3.0.4/
project-to-test/
graphhopper/

